@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  overflow-x: hidden;
  max-width: 1920px;
}

.wrapper {
  overflow: hidden;
}

.container {
  width: 100%;
  height: 100%;
}

.navbar {
  background-color: #55415f;
  height: 30px;
}
.navbar .navbar-brand {
  text-align: right;
}
.navbar .navbar-brand .navbar-text-sign, .navbar .navbar-brand .navbar-text-login, .navbar .navbar-brand .navbar-text-rss {
  border-right: 1px solid white;
  padding: 0 7px 0 7px;
}
.navbar .navbar-brand .navbar-text-news {
  padding: 0 20px 0 7px;
}
.navbar .navbar-brand a {
  margin: 9px 0 0 0;
  font-family: Georgia;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  color: #ffffff;
}

.top-panel li, a {
  display: inline-block;
}

.top-panel {
  margin: 38px 0 0 0;
}
.top-panel p {
  margin: 0 0 38px 0;
}
.top-panel .top-panel-text .text {
  font-family: Georgia;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #333333;
}
.top-panel .top-panel-text .text:hover {
  color: #55415f;
  border-bottom: 2px solid #55415f;
  padding-bottom: 15px;
}
.top-panel .top-panel-text li {
  margin: 22px 20px 0 0;
  font-family: Georgia;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #333333;
  float: right;
}
.top-panel .top-panel-text h1 {
  font-family: Georgia;
  font-size: 26px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 15px;
}
.top-panel .top-panel-text span {
  font-size: 36px;
  line-height: 36px;
}
.top-panel .top-panel-text, .top-panel .title {
  margin: 0 0 0 20px;
}
.top-panel .top-panel-text .title, .top-panel .title .title {
  font-family: Georgia;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #999999;
}

.catchy-title {
  background-color: #ebebeb;
}
.catchy-title .catchy-title__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.catchy-title .catchy-title-text h1 {
  font-family: Georgia;
  font-size: 36px;
  line-height: 43px;
  font-weight: 400;
  color: #333333;
  margin: 140px 100px 28px 88px;
}
.catchy-title .catchy-title-text p {
  width: 400px;
  font-family: Georgia;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #999999;
  margin: 0 100px 18px 88px;
}
.catchy-title .catchy-title-text button {
  width: 140px;
  height: 31px;
  background-color: #55415f;
  margin: 0 100px auto 88px;
  text-decoration: none;
  font-family: Georgia;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  border-radius: 4px;
}
.catchy-title .catchy-title-text a {
  color: #ffffff;
}

.imgs img {
  position: relative;
  max-width: 500px;
}

.imgs {
  max-width: 450px;
  max-height: 340px;
  margin: 20px 0 0 0;
}

.out-img-pc {
  bottom: 271px;
  left: 40px;
  width: 450px;
  height: 252px;
}

.bck-img-pc {
  left: 20px;
}

.base-img-pc {
  bottom: 223px;
  left: 190px;
}

.bottom-img-pc {
  bottom: 320px;
  left: 20px;
}

@media screen and (max-width: 1200px) {
  .bottom-img-pc {
    bottom: 310px;
  }
}
@media screen and (min-width: 1716px) {
  .out-img-pc {
    bottom: 271px;
    height: 252px;
    width: 450px;
  }

  .bottom-img-pc {
    bottom: 320px;
  }
}
.container {
  max-width: 1920px;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider {
  position: relative;
  padding: 0px 50px;
  background-color: white;
}
.slider .slick-arrow {
  position: absolute;
  top: 0px;
  z-index: 10;
  font-size: 0;
  margin: 20px 27px 0 27px;
  width: 14px;
  height: 24px;
}
.slider .slick-arrow.slick-prev {
  left: 0;
  background: url("../img/slick/left_arrow.png") 0 0/100% no-repeat;
}
.slider .slick-arrow.slick-next {
  right: 0;
  background: url("../img/slick/right_arrow.png") 0 0/100% no-repeat;
}
.slider h3 {
  margin: 21px auto 41px auto;
  font-family: Georgia, sans-serif;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  color: #55415f;
  text-align: center;
}
.slider p {
  font-family: Georgia;
  font-size: 13px;
  line-height: 23px;
  font-weight: 400;
  color: #807d77;
  margin: 0 27px 0 0;
  text-align: center;
}
.slider img {
  margin: 30px auto 0 auto;
}

.slider-bottom-title p {
  margin: 39px 60px;
  text-align: center;
  font-family: Georgia;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #222222;
}

.column-text-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.column-item {
  font-weight: 400;
  margin: 0 20px 0 20px;
}
.column-item img {
  width: 225px;
  height: 140px;
  background-color: #353535;
  margin: 20px 0;
}
.column-item h3 {
  font-family: Georgia;
  font-size: 18px;
  line-height: 21px;
  color: #7f7d77;
  margin-bottom: 20px;
}
.column-item p {
  font-family: Georgia;
  font-size: 13px;
  line-height: 20px;
  color: #807d77;
  width: 240px;
}
.column-item a {
  font-family: Georgia;
  font-size: 13px;
  line-height: 15px;
  color: #55415f;
  margin: 17px 0 40px 0;
}
.column-item a:hover {
  text-decoration: underline;
}

footer {
  background-color: #202020;
  overflow: hidden;
}

.footer-line {
  border: 1px solid #000000;
}

.footer__body {
  width: 100%;
}
.footer__body p {
  font-family: Georgia;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #666666;
  display: inline-block;
  margin: 23px 20px;
}
.footer__body .right {
  float: right;
}
.footer__body .left {
  float: left;
}

.top-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 0 0 20px;
}
.top-footer h3 {
  margin: 30px 0 0 0;
  font-family: Georgia;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}
.top-footer .footer-item-link {
  margin: 0 0 0 24px;
}
.top-footer .footer-item-link .first {
  margin: 30px 0 0 0;
}
.top-footer .footer-item-link a {
  color: #9f80a9;
}
.top-footer .footer-item-link li {
  color: #9f80a9;
  list-style-type: none;
  margin: 10px 0 0 0;
}
.top-footer .footer-item-link li::before {
  margin: 0 11px 0 0;
  content: "»";
}
.top-footer .footer-item .first-i {
  margin: 8px 0 14px 0;
}
.top-footer .footer-item p:last-child {
  width: 240px;
  margin: 0 0 30px 0;
}
.top-footer .footer-item p {
  font-family: Georgia;
  font-size: 12px;
  line-height: 19px;
  font-weight: 400;
  color: #807d77;
}
.top-footer .footer-item a {
  margin: 28px 0 0 0;
  font-family: Georgia;
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
  color: #9f81a9;
}

.footer-item-company {
  margin: 0 0 0 109px;
}
.footer-item-company .first-p {
  margin: 28px 0 0 0;
}
.footer-item-company .p {
  font-family: Georgia;
  font-size: 12px;
  line-height: 19px;
  font-weight: 400;
  color: #807d77;
  margin: 0 0 17px 0;
}
.footer-item-company .p-two {
  font-family: Georgia;
  font-size: 12px;
  line-height: 19px;
  font-weight: 400;
  color: #807d77;
}
.footer-item-company .p-two a {
  color: #9f81a9;
}

.footer-item-new h3 {
  padding: 0 0 33px 0;
}
.footer-item-new input {
  margin: 0 0 10px 0;
  padding: 0 0 0 10px;
  width: 225px;
  height: 31px;
  background-color: #353535;
  border-radius: 4px;
  font-family: Georgia;
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #807d77;
}
.footer-item-new button {
  font-family: Georgia;
  font-size: 13px;
  line-height: 20px;
  font-weight: 700;
  color: #ffffff;
  width: 80px;
  height: 31px;
  background-color: #9f81a9;
  border-radius: 5px;
}
